/*
 * Basic Styles
 *
 * Базовые стили
 */

html {
  height: 100%;
  overflow-y: scroll;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

body {
  line-height: var(--line-height);
  font-family: var(--font-family);
  font-size: var(--font-size);
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 0;
  margin: 0;
}

a {
  color: var(--link-color);
  cursor: pointer;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  color: var(--link-color-hover);
}

img {
  border-radius: var(--border-radius);
  vertical-align: middle;
}

.top-sm {
  top: 70px;
}

.mr-auto {
  margin: 0 auto;
}

.m0 {
  margin: 0;
}

.m5 {
  margin: 5px;
}

.mt5 {
  margin-top: 5px;
}

.mr5 {
  margin-right: 5px;
}

.mb5 {
  margin-bottom: 5px;
}

.ml5 {
  margin-left: 5px;
}

.m10 {
  margin: 10px;
}

.mt10 {
  margin-top: 10px;
}

.mr10 {
  margin-right: 10px;
}

.mb10 {
  margin-bottom: 10px;
}

.ml10 {
  margin-left: 10px;
}

.m15 {
  margin: 15px;
}

.mt15 {
  margin-top: 15px;
}

.mr15 {
  margin-right: 15px;
}

.mb15 {
  margin-bottom: 15px;
}

.ml15 {
  margin-left: 15px;
}

.mt20 {
  margin-top: 20px;
}

.mr20 {
  margin-right: 20px;
}

.mb20 {
  margin-bottom: 20px;
}

.ml20 {
  margin-left: 20px;
}

.ml30 {
  margin-left: 30px;
}

.p5 {
  padding: 5px;
}

.p15 {
  padding: 15px;
}

.p5-10 {
  padding: 5px 10px;
}

.p10-5 {
  padding: 10px 5px;
}

.indent-body {
  margin: 0 8px;
}

/*
 * Used colors (and background) in LibArea project
 *
 * Используемые цвета (и фон) в проекте LibArea
 */
.black {
  color: var(--black);
}

.white {
  color: var(--white);
}

.yellow {
  color: var(--yellow);
}

.green {
  color: var(--green);
}

.gray {
  color: var(--gray);
}

.gray-600 {
  color: var(--gray-600);
}

.sky {
  color: var(--sky);
}

.red {
  color: var(--red);
}

.brown {
  color: var(--brown);
}

.bg-black {
  background-color: var(--black);
}

.bg-white {
  background-color: var(--white);
}

.bg-green {
  background-color: var(--green);
}

.bg-yellow {
  background-color: var(--yellow);
}

.bg-lightyellow {
  background-color: lightyellow;
}

.bg-lightgray {
  background-color: var(--gray-100);
}

.bg-violet {
  background-color: var(--violet);
}

.bg-blue {
  background-color: var(--blue);
}

.bg-red-200 {
  background-color: var(--red-200);
}

.bg-beige {
  background-color: var(--beige);
}

.active {
  color: var(--red);
}

/*
 * Other
 *
 * Другое
 */
.shadow {
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.15);
}

.shadow-bottom {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.br-gray {
  border: 1px solid var(--gray-100);
}

.br-dotted {
  border: 1px dotted var(--form-border-color);
}

.br-bottom {
  border-bottom: 1px solid var(--form-border-color);
}

.br-lightgray {
  border: 5px solid var(--gray-100);
}

li.br-top-zebra+li {
  border-top: 1px solid var(--gray-100);
}

li.br-li-bottom-no:last-child {
  border-bottom: 1px solid transparent;
}

.w-auto {
  width: auto;
}

.w-20 {
  width: 20%;
}

.w-30 {
  width: 30%;
}

.w-40 {
  width: 40%;
}

.w-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

.w-90 {
  width: 90%
}

.w-100 {
  width: 100%;
}

.w20 {
  width: 20px;
}

.w30 {
  width: 30px;
}

.w40 {
  width: 40px;
}

.w50 {
  width: 50px;
}

.w60 {
  width: 60px;
}

.w94 {
  width: 94px;
}

.w160 {
  width: 160px;
}

.w200 {
  width: 200px;
}

.max-w-100 {
  max-width: 100%;
}

.max-w780 {
  max-width: 780px;
}

.max-w300 {
  max-width: 300px;
}

.min-w75 {
  min-width: 75px;
}

.text-xs {
  font-size: 0.75rem;
}

.text-sm {
  font-size: 0.875rem;
}

.text-base {
  font-size: 1rem;
}

.text-lg {
  font-size: 1.125rem;
}

.text-xl {
  font-size: 1.25rem;
}

.text-2xl {
  font-size: 1.5rem;
}

.text-3xl {
  font-size: 1.875rem;
}

.text-4xl {
  font-size: 2.25rem;
}

.text-5xl {
  font-size: 3rem;
}

.text-6xl {
  font-size: 3.75rem;
}

.text-7xl {
  font-size: 4.5rem;
}

.text-8xl {
  font-size: 6rem;
}

.grid {
  display: grid;
}

.gap {
  gap: 1rem;
}

.gap-min {
  gap: 0.5rem;
}

.gap-max {
  gap: 2.5rem;
}

.flex {
  display: flex;
}

.fixed {
  position: fixed;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap
}

.flex-auto {
  flex: 1 1 0%;
}

.clear {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.middle {
  vertical-align: middle;
}

.lowercase {
  text-transform: lowercase;
}

.uppercase {
  text-transform: uppercase;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.italic {
  font-style: italic;
}

.sticky {
  position: sticky;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.hidden {
  overflow: hidden;
}

.none {
  display: none;
}

.block {
  display: block;
}

.table {
  display: table;
}

.inline {
  display: inline-block;
}

.break-all {
  word-break: break-all;
}

.pointer {
  cursor: pointer;
}