/*
 * Components based on the basic style of libArea
 *
 * Компоненты, основанные на базовом стиле LibArea
 */

#contentWrapper {
  display: flex;
  gap: 1.25rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
}

.number-notif {
  display: none;
  font-size: .72rem;
  color: #fff;
  background-color: var(--red);
  padding: 1px 6px;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: -10px;
}

.number-notif.show,
.video-pl {
  display: block;
}

/* См. https://feathericons.com/ и https://tabler-icons.io/ */
.icons {
  width: 21px;
  height: 21px;
  fill: none;
  stroke: currentColor;
  vertical-align: middle;
}

.icon-max {
  width: 121px;
  height: 121px;
}

.icon-base {
  width: 48px;
  height: 48px;
}

.icon-small {
  width: 15px;
}

.list-none {
  list-style: none;
  padding: 0;
  margin: 0;
}

.d-header {
  top: 0;
  z-index: 6;
  position: sticky;
  background-color: var(--header-bg);
  color: var(--header-text-color);
  box-shadow: var(--header-box-shadow);
  backface-visibility: hidden;
  height: 3.5em;
  margin-bottom: 15px;
}

.medium-zoom--opened .d-header {
  display: none;
}

.banner {
  background-image: url(/assets/images/banner-fon.jpg);
  background-size: cover;
  filter: brightness(1.1);
  text-align: center;
  border-radius: 5px;
  padding: 1.25rem 0;
  margin-top: -1rem;
  margin-bottom: 1.25rem;
  color: #333;
}

.wrap {
  margin: 0 auto;
  height: 100%;
  max-width: 1436px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.wrap.wrap-max {
  max-width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}

.d-header_contents {
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
  justify-content: space-between;
  margin: 0 0.5rem 0 0.5rem;
}

/* Search */
.search {
  width: 100%;
  border-radius: 5px;
  background-color: var(--header-form-bg-color);
  color: var(--header-form-text-color);
  padding: 9px;
  border-color: transparent;
}

.box-search {
  position: relative;
  width: 63%;
  margin: 10px 45px 10px 0;
}

.box-results {
  position: absolute;
  border-radius: 3px;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .15);
  background-color: var(--white);
  padding: 15px;
  z-index: 2;
}

.d-header.show .d-header-post.none,
.d-header.show .d-header-facet.none {
  display: block;
  position: relative;
  width: 100%;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.v-line {
  border-left: 1px solid var(--gray-600);
  height: 20px;
  display: inline-block;
  margin: 0 10px 0 15px;
  vertical-align: middle;
}

.d-header.scroll-hide-search.show .box-search {
  display: none;
}

.box-logo {
  width: 209px;
  align-items: center;
  display: flex;
  gap: 0.5rem;
  color: var(--gray-600);
}

.cut-off {
  width: 75%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

aside {
  width: 340px;
}

aside ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9375rem;
}

aside ul a {
  color: var(--gray);
}

blockquote {
  margin-left: 15px;
  background-color: var(--blockquote-bg);
  padding: 0.1rem 1rem;
  border-left: 3px solid #d2d6dd;
  display: table;
}

.blockquote-profile {
  margin-bottom: 20px;
  max-width: 300px;
  word-wrap: break-word;
  padding: 0.1rem 1rem;
  border-left: 3px solid #d2d6dd;
  font-size: .91rem
}

.blockquote-profile p {
  margin: 2px;
}

hr {
  border: none;
  clear: both;
  background-color: #ddd;
  height: 1px;
}

details {
  border-radius: 0 0 3px 3px;
  background-color: #f5f5fa;
  padding: 2px 6px;
  margin: 0 0 15px 0;
}

summary {
  background-color: #f5f5fa;
  color: #666;
  font-size: 14px;
}

details[open]>summary {
  padding: 0 0 10px 0;
  color: #666;
}

.title {
  margin: 0;
  font-weight: 500;
  font-size: 1.3125rem;
}

.txt-closed {
  padding: 10px;
  background-color: lightyellow;
  margin-bottom: 15px;
  display: inherit;
  color: var(--gray-600);
}

.box {
  border-radius: 5px;
  padding: 1.25rem;
  margin-bottom: 1.25rem;
  overflow-wrap: break-word;
}

.box-small {
  border-radius: 3px;
  color: var(--white);
  text-align: center;
  padding: 5px 10px;
}

.box-flex {
  display: flex;
  border-radius: 5px;
  position: relative;
  flex-direction: row;
  align-items: center;
  padding: 1.25rem;
  margin-bottom: 1.25rem;
}

.box-center {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.search-input {
  width: 300px;
  height: 50px;
  padding-left: 1.25rem;
  border-radius: 3px;
}

.search-button-icon {
  border: none;
  height: 50px;
  width: 50px;
  color: #4f5b66;
  font-size: 18px;
  border-radius: 3px;
}

.list-post {
  display: flex;
  padding: 0.5rem 0;
}

ul.last-content li {
  margin-bottom: 15px;
}

ul.last-content a.last-content_telo {
  display: block;
  word-wrap: break-word;
}

.uppercase-box {
  font-size: 0.75rem;
  text-transform: uppercase;
  margin: 0 0 10px 0;
  letter-spacing: 1.5px;
  font-weight: 500;
}

.trigger img,
a:hover>img {
  opacity: 0.8;
}

.focus-id:hover {
  cursor: pointer
}

.underline-hover:hover {
  text-decoration: underline;
}

.content-body {
  max-width: 810px;
  overflow-wrap: break-word;
  margin: 5px;
}

.content-body img.medium-zoom-image {
  max-width: 330px;
  border: 1px solid #666;
}

.anchor-top:target~.comment {
  /*background-clip: content-box;*/
  background-color: lightyellow;
  padding: 5px;
}

.anchor-top {
  position: absolute;
  display: block;
  top: -75px;
}

.comments {
  margin: 20px 5px 20px 0;
  list-style: none;
  padding: 0;
}

.comment_footer {
  display: flex;
  gap: 1rem;
  font-size: .875rem;
  margin: 10px 0 0 5px;
}

.comment,
.comments li {
  position: relative;
}

.comment_level-left-0 {
  margin-left: 15px;
}

.comment_level-left-1 {
  margin-left: 36px;
}

.comment_level-left-2 {
  margin-left: 56px;
}

.comment_level-left-3 {
  margin-left: 76px;
}

.comment_level-left-4 {
  margin-left: 96px;
}

.comment_level-left-5 {
  margin-left: 116px;
}

.comment_thread {
  border: 0;
  padding: 0;
  height: 100%;
}

.qa-comment {
  font-size: 0.875rem;
  padding: 0.24rem 0;
}


li input.comment_folder_button {
  display: none;
}

li .comment_folder {
  font-size: 9pt;
  color: var(--gray-600);
  letter-spacing: 0.1em;
  width: 1.5em;
  cursor: pointer;
  float: left;
  text-align: center;
  margin-left: -22px;
}

li .comment_folder:before {
  content: "[-]";
}

li .comment_folder_button:checked~.comment .comment_folder:before {
  content: "[+]";
}

li .comment_folder_button:checked~.comment .comment_text,
li .comment_folder_button:checked~.comment .comment_footer {
  display: none;
}

li .comment_folder_button:checked~ol.comments ol,
li .comment_folder_button:checked~ol.comments div.comment,
li .comment_folder_button:checked~ol.comments li {
  display: none;
}

.bg-red-200 .comment,
.comment.bg-red-200 {
  background-color: var(--red-200);
}

.ind-first-p p {
  margin: 0.5em 0;
  max-width: 780px;
}

article iframe {
  max-width: 560px;
  max-height: 320px;
}

video {
  max-width: 560px;
}

.showPassword {
  position: absolute;
  color: var(--gray-600);
  right: 5px;
  margin: 5px;
}

.scroll-menu {
  overflow-x: auto;
  scrollbar-width: none;
}

.scroll-menu::-webkit-scrollbar {
  width: 0;
  height: 0
}

.scroll-wrapper {
  overflow: hidden;
  padding: 0;
  position: relative;
}

.scroll-wrapper.conversationMessages {
  height: calc(100% - 62px);
}

.delet-count {
  z-index: 3;
  right: 10px;
  font-size: 0.8em;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 1px 6px;
  position: absolute;
  display: flex;
  gap: 1rem;
}

/*
 * Share icons
 *
 * Иконки, поделиться
 */

.icon-share {
  color: #fff;
  height: 28px;
  width: 28px;
  margin: 3px;
}

.bg-vk {
  background-color: #07f;
}

.bg-ok {
  background-color: #eb722e;
}

.bg-tg {
  background-color: #64a9dc;
}

.bg-fb {
  background-color: #3b5998;
}

.bg-lj {
  background-color: #0d425a;
}

.bg-tw {
  background-color: #00aced;
}