/*
 * @media styles
 *
 * Медиа-запросы
 */

main {
  width: calc(100% - 590px);
}

.admin main {
  width: calc(100% - 210px);
}

.menuno main {
  width: calc(100% - 340px);
}

.menuno main.w-100 {
  width: 100%;
}

@media (max-width: 1050px) {

  .menu__left,
  #togglemenu {
    display: none;
  }

  aside {
    min-width: 240px;
  }

  main {
    width: calc(100% - 250px);
  }

  .admin main {
    width: 100%;
  }

  .menu__button {
    transition: 0.3s ease;
    display: block;
  }

  .menu__left {
    opacity: 0;
    visibility: hidden;
    transition-property: opacity, visibility;
    z-index: 98;
    left: 0;
    top: 0;
    bottom: 0;
    min-width: 180px;
    background-color: var(--dropdown-bg);
    box-shadow: 5px 0 5px -5px rgba(0, 0, 0, 0.25);
    overflow-x: hidden;
    position: absolute;
    padding-right: 0;
  }

  .menu__left.menu__active,
  .menu__left.menu-none.menu__active {
    opacity: 1;
    visibility: visible;
    transition: 0.25s;
    position: fixed;
    display: block;
  }

  .menu__left.menu__active ul.top-sm {
    top: 0;
  }

  .menu__left.menu__active .menu li {
    background-color: #fff;
    padding-left: 10px;
  }

  .comment_level-left-1 {
    margin-left: 16px;
  }

  .comment_level-left-2 {
    margin-left: 36px;
  }

  .comment_level-left-3 {
    margin-left: 56px;
  }

  .comment_level-left-4 {
    margin-left: 76px;
  }

  .comment_level-left-5 {
    margin-left: 96px;
  }
}

@media (max-width: 780px) {
  .mb-w80 {
    width: 80px;
  }

  .mb-w150 {
    width: 150px;
  }

  .mb-p10 {
    padding: 10px;
  }

  .mb-mt5 {
    margin-top: 5px;
  }

  .mb-mt25 {
    margin-top: 25px;
  }

  .mb-ml10 {
    margin-left: 10px;
  }

  .mb-text-xl {
    font-size: 1.25rem;
  }

  .text-2xl {
    font-size: 1.1rem;
  }

  .logo {
    font-size: 18px;
  }

  .gap-max {
    gap: 1.5rem;
  }

  .footer ul {
    padding-left: 0;
  }

  .mb-img-2xl {
    height: 65px;
    width: 65px;
  }

  .box-cover-img {
    height: 75px;
  }

  .title {
    font-size: 1.2125rem;
  }

  .mb-block,
  #contentWrapper {
    display: block;
  }

  .mb-w-100,
  iframe,
  video {
    width: 100%;
  }

  .box {
    padding: 1rem;
    border-radius: 0;
  }

  aside,
  .mb-none,
  ul.setting>li>a>i {
    display: none;
  }

  main,
  .menuno main {
    width: 100%;
  }

  .wrap {
    padding-left: 0;
    padding-right: 0;
  }

}