/*
 * Additional styles
 *
 * Дополнительные стили
 */
 
body {
  max-width: 1080px;
  padding-bottom: 2em;
  background-color: var(--color-bg);
  margin: 0 auto;
}

main { width: 100%; }

.text-header {
  top: 0;
  z-index: 50;
  position: sticky;
  background-color: var(--white);
  backface-visibility: hidden;
  height: 3.5em;
  margin-bottom: 15px;
}

.img-sm-min {
  height: 16px;
  width: 16px;
  margin-right: 4px;
  border-radius: 50%;
}

.logo {
  background-color: var(--red);
  background-position: center;
  display: block;
  width: 32px;
  height: 32px;
  padding: 1px;
  position: relative;
  text-align: center;
  color: var(--white);
  font-size: 18px;
}

.mt3 { margin-top: 3px; }
.pt20 { padding-top: 20px; }
.no-flex > div.flex { display: block; }