/*
 * Dark (night) theme
 *
 * Тёмная (ночная) тема
 */

body.dark {
  --bg-color: #202b38;
  --text-color: #fff;

  --link-color: #118bee;
  --link-color-hover: #ef4444;

  --nav-bg-active: #161f27;
  --nav-color-active: #fff;

  --dropdown-bg: #202b38;
  --dropdown-box-shadow: 0 6px 18px 0 rgba(14, 21, 47, .13), 0 -2px 6px rgba(14, 21, 47, .03);

  --form-color-active: #1e2830;
  --form-bg-color: #283541;
  --form-border-color: #252830;
  --form-text-color: #fff;

  --border-radius: 3px;

  --button-text-color: #bfcad3;
  --button-bg-color: #1e2226;
  --button-border-color: #1e2226;
  --button-border-color-hover: #ddd;

  --button-outline-text-color: #bfcad3;
  --button-outline-bg-color: #3f4851;
  --button-outline-border-color: #3f4851;

  --button-outline-text-color-hover: #bfcad3;
  --button-outline-bg-color-hover: #555f6a;
  --button-outline-border-color-hover: #555f6a;

  --header-bg: #1a2630;
  --header-box-shadow: 0 1px 2px -1px rgb(0 0 0 / 25%);
  --header-text-color: #fff;
  --header-logo-color: #fff;
  --header-form-bg-color: #161f27;
  --header-form-text-color: #fff;

  --footer-bg: #1a2630;
  --footer-box-shadow: 0 -5px 5px -5px rgb(0 0 0 / 15%);
  --footer-text-color: #eee;
  --footer-color-active: #ccc;

  --blockquote-bg: #2e3d49;

  /* Colors used */
  --black: #fff;
  --white: #161f27;
  --gray: #a7a7a7;
  --gray-100: #161f27;
  --violet: #161f27;
  --slate-100: #161f27;
}

body.dark .EasyMDEContainer .CodeMirror {
  background-color: var(--form-bg-color);
  color: var(--form-text-color);
}

body.dark .box {
  background-color: var(--gray-100);
}

body.dark .tagify {
  background-color: var(--form-bg-color);
}

body.dark .bg-lightyellow,
body.dark .menu__left.menu__active .menu li {
  background-color: var(--form-bg-color);
}

body.dark .comment:target,
body.dark .comment.edit {
  background-color: var(--form-bg-color);
}

body.dark .comment {
  word-wrap: break-word;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .1);
  padding: 5px;
}

body.dark blockquote {
  background-color: var(--blockquote-bg);
  border-left: 3px solid #6d6e6f;
}

body.dark :not(pre)>code[class*=language-],
pre[class*=language-] {
  background: var(--blockquote-bg);
}

body.dark code[class*=language-],
pre[class*=language-] {
  color: #eee;
  text-shadow: none;
}

body.dark .anchor-top:target~.comment {
  background-color: #2f3b4a;
}